trigger:
- main
- dev
- qa

pool:
  name: Neel Pipelines

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '20.16.x'
  displayName: 'Install Node.js'

- script: npm install -g @angular/cli@18.1.3
  displayName: 'Install angular 18.1.3'

- task: Cache@2
  inputs:
    key: 'npm | "$(Agent.OS)" | package-lock.json'
    restoreKeys: |
       npm | "$(Agent.OS)"
    path: $(Build.SourcesDirectory)/node_modules
  displayName: Cache npm

- script: npm install
  displayName: 'install dependencies'

- script: npm run build --production
  displayName: 'build'

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: 'dist/dashboard'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/build.zip'
    replaceExistingArchive: true
- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)/build.zip'
    ArtifactName: 'publish'
    publishLocation: 'Container'

